body{
  background-color: #cd5c5c;
}

.button {
  margin-top: 10px;
padding: 5px 15px;
}

.form{
  width: 200px;
   margin-left: 550px;
   margin-top:250px;
}

.username{
  margin-bottom:10px;
}
.password {
  margin-bottom: 10px;
}
.password2{
  margin-bottom:10px;
}
